<section id="product-list-grid">
    
    @for (product of products; track $index){
  <div id="plCard">

    <img id="plImg" src="{{product.imageUrl}}" alt="{{product.name}}">
    <li>
       
        <h2 id="plTitle">{{product.name}}</h2>
        <p id="pltDescription">{{product.description}}</p>
    </li> 
    <a [routerLink]="['/products',product.id]"><button mat-flat-button color="primary">
        <img src="../../../assets/icons/edit icon.svg">
      VIEW</button></a>
      <button mat-flat-button>ORDER MORE</button>
</div>
}</section>