<section id="product-list-grid">
    
    @for (product of products; track $index){
  <div id="plCard">
    <a [routerLink]="['/products',product.id]">
    <img id="plImg" src="{{product.imageUrl}}" alt="{{product.name}}">
    <li>
       
        <h2 id="plTitle">{{product.name}}</h2>
        <p id="pltDescription">{{product.description}}</p>
    </li> </a>
    <button mat-flat-button color="primary">
        <img src="../../../assets/icons/edit icon.svg">
        EDIT</button>
</div>
}</section>