<div class="aside-container">
    <div class="logo-container">
        <img src="../../../assets/logo.png" alt="MemePurrfection logo with the shape of a round cat">
        <div>
            <p>MEME</p>
            <p>PURRFECTION</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a routerLinkActive="active" [routerLink]="['/layout/overview']">Overview</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/layout/customers']">Customers</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/layout/orders']">Orders</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/layout/products']">Products</a></li>
        </ul>
    </nav>
    <figure class="meme-carousel">
        <img src="../../../assets/memes/monday-meme.png" alt="meme of a cat with glasses working on its laptop">
        <figcaption>A meme a day keeps the doctor away!</figcaption>
    </figure>
</div>
