* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    width: 99vw;
    grid-template-areas: 
        "aside header"
        "aside content"
        "aside content";

}

app-header {
    grid-area: header;
}

app-aside {
    grid-area: aside;
}
