<div id="order-list-container">
    <div class="add-button-container">
        <button class="add-button" (click)="showForm = true">+ ADD NEW ORDER</button>
    </div>
    <div *ngIf="showForm" class="modal-overlay" (click)="closeForm()">
        <div class="modal" (click)="$event.stopPropagation()">
            <app-order-form (sentForm)="addNewOrder($event)" (formClosed)="closeForm()"></app-order-form>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>product</th>
                    <th>customer</th>
                    <th>date</th>
                    <th>quantity</th>
                    <th>total price</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            @for (order of orders; track $index){
            <tbody>
                <tr>
                    <td>{{ getProductName(order.productId) }}</td>
                    <td>{{ order.customerId }}</td>
                    <td>{{ order.calendarDate }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.totalPrice }}</td>
                    <td>{{ order.orderStatus }}</td>
                    <td class="buttons-container"><button class="edit-button">EDIT</button><button
                            class="delete-button">DELETE</button></td>
                </tr>
            </tbody>
            }
        </table>
    </div>
</div>