
<section id="pdCard">
    <img id="pdImg" src="{{product.imageUrl}}" alt="{{product.name}}">
    <div id="pdContent">    
    <div id="pdHeader">
    <h2 id="pdTitle">{{product.name}}</h2>
       <p id="pdPrice">{{product.price}} €</p>
    </div>
   
   <p>Units: {{product.stock}}</p>
   <p id="pdtDescrip">{{product.description}}</p>
   <p>Tags:</p>
   <p>{{product.categories}}</p>
 <div id="pdButtons">
   <button mat-flat-button color="primary" id="pdButEdit">
       <img src="../../../assets/icons/edit icon.svg"> EDIT</button>
   <button mat-flat-button color="primary" id="pdButDelete"><img src="../../../assets/icons/trash icon.svg">DELETE</button>
 </div></div>

   
</section>
