@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#pdCard{
    font-family: 'Poppins';
    background-color: #EBEBEB;
    border-radius: 10%;
    display: flex;
    padding: 3rem;
    
}
#pdImg{
    border-radius: 10%;
    width: 40%;
}

#pdContent{
    margin-left: 2rem;
    flex-direction: column;
    width: 55%;
    border: solid blue 1px;
}

#pdHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid red 1px;
}

#pdTitle{
 color: #3C3F88;
}

#pdPrice{

}

#pdContent{
    flex-direction: column;
    width: 60%;
    border: solid blue 1px;
    display: flex;
    justify-content: space-evenly;
}

#pdtDescrip{
    width: 60%;
}

#pdButtons{
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}


#pdButEdit{
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
}
#pdButDelete{
    background-color: #FF5B5B;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    
}